<h1 class="users-heading">大学院一覧</h1>
    <% @school_name.each do |school| %>
      <div class="users-index-item">
        <div class="user-right">
          <%= link_to(school.name, "college/:id/laboratory")%>
        </div>
      </div>
    <% end %>