<div clss="user-login_form">
  <div class="user-login_form-logo">
    <h2>ログイン</h2>
  </div>  

  <div class="user-login_form-content">
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>

    <%= form_tag("/login") do%>
      <p>メールアドレス</p>
      <input name="email" value="<%= @email%>">
      <p>パスワード</p>
      <input name="password" type="password" value="<%= @password%>">
      <input class="user-login_form-submit" type="submit" value="ログイン">
    <% end %>
  </div>  
</div>  
      