<div class="graduate_school">
   
   <div class="graduate_school-logo">
      <h1>大学院一覧</h1>
   </div>
   
   <div class="graduate_school-menu">
      <% @graduate_schools.each do |graduate_school| %>
         <%= link_to(graduate_school.graduate_school_name ,"/graduate_schools/#{graduate_school.id}/laboratories") %><br>
      <% end %>
   </div>  

</div>   