<div class="laboratory">

  <div class="laboratory-logo">
    <h1>研究室一覧</h1>
  </div>  

  <div class="laboratory-menu">
    <% @laboratories.each do |laboratory| %>
      <%= link_to(laboratory.name, "laboratories/#{laboratory.id}/show") %>
    <% end %>
  </div>  

</div>