<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集,削除する</h1>
    <%= form_tag (update_post_path(graduate_school_id: @laboratory.graduate_school_id, laboratory_id: @post.laboratory_id, post_id: @post.id)) do %>
      <div class="form">
        <div class="form-body">
          <textarea name="title"><%= @post.title %></textarea>
          <textarea name="body"><%= @post.body %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
    <%= form_tag (destroy_post_path(graduate_school_id: @laboratory.graduate_school_id, laboratory_id: @post.laboratory_id, post_id: @post.id)) do %>
      <input type="submit" value="削除">
    <% end %>
  </div>
</div>
