html{
    background-color: rgb(218, 215, 215);
    color: black;
}

body{
    margin: 0;
    font-family: 'Yuji Syuku', serif;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover{
    opacity: 0.5;
}

/*---- application=header　----CSS */
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    margin-left: 15px;
}

.header-logo a{
    display: inline-block; 
    margin: 30px;
    color: black;
}

.header-logo a:hover{
    opacity: 0.5;
}

.header-menus{
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding-right: 25px;
    margin: 0;
}

.header-menus a{
    display: inline-block;
    margin: 25px;
    color: black;
}

.header-menus a:hover{
    opacity: 0.5;
}

/*---- flash　CSS ----*/
.flash {
    height: 20px;
    color: white;
    background: rgb(229, 219, 209);
    text-align: center;
    width: 100%;
    font-size: 14px;
}

/* laboratory-show */
.laboratory-show{
    width: 100%;
}

.logo{
    text-align: center;
    border-bottom: thin white solid; 
}

.laboratory-show-content{
    margin: 0 50px 0 50px;
}

.form{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: thin white solid;
}

.form textarea{
    width: 350px;
    height: 150px;
}

.form input{
    font-family: 'Yuji Syuku', serif;
}

.form input[type="submit" i]{
    padding-bottom: 15px;
}

.form input[type="submit" i]:hover{
    opacity: 0.5;
}

.content-main{
    border-bottom: thin white solid;
    margin-bottom: 5px;
}

.content-main p{
    margin: 0;
    display: block;
    text-align: right;
}

.content-like{
    text-align: center;
}